h3 {
  text-align: left;
  font-size: 24px;
}

#contenido1 {
  display: none;
}

#contenido2 {
  display: none;
}

#contenido3 {
  display: none;
}

.expandir {
  background-color: white;
  color: black;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.expandir:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
}

aside {
  height: 300px;
}
