h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.cuadroxeral {
  display: flex;
  flex-direction: row;
  padding: 5px 0 0 0;
}

.cuadroesquerda {
  display: flex;
  flex-flow: column;
  gap: 10px;
  width: 50%;
  overflow-y: auto;
  padding: 7px 20px 5px 20px;
  background-color: #f2f2f2;
}

#map {
  width: 50%;
  display: block;
}
.ruta {
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
  background-color: black;
  padding: 0;
  height: 217px;
}

.ruta:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 10px black;
}

.cuadroslaterais {
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  width: 60%;
  height: 217px;
  padding: 10px;
  margin: 0;
}

.i {
  width: 15px;
  height: 15px;
}
.imaxe {
  width: 217px;
  height: 100%;
}

.cuadroslaterais p {
  margin: 0%;
  font-size: 12px;
}

.cuadroslaterais h3 {
  margin: 0%;
  font-size: 16px;
  padding-bottom: 5px;
  padding-bottom: 15px;
}
.cuadrosinteriores {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  width: 100%;
}

.cuadrointerior {
  padding: 0px 40px 10px 10px;
}

@media only screen and (max-width: 992px) {
  .cuadroslaterais p {
    display: none;
  }
  #map {
    display: none;
  }

  .cuadroesquerda {
    width: 100%;
  }
}
