.caja-grande {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
}
p {
  margin: 2% 6% 3% 6%;
}

.caja-grande > * {
  flex-basis: 100%;
}

.caja {
  background-color: rgb(220, 220, 220);
  padding: 1rem;
}

.contenedor {
  display: flex;
  flex-wrap: row wrap;
}

.info {
  width: 40%;
  margin-top: 1rem;
  margin: 0% 6% 3% 6%;
}

.info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.imaxe {
  width: 200px;
  height: 200px;
  margin: 0% 6% 3% 18%;
}
